src/main/resources/funface-1.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.3,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="funface"
           targetNamespace="funface">
    <xs:element name="suite" type="Suite">
        <xs:annotation>
            <xs:documentation source="version">1.0+</xs:documentation>
            <xs:documentation source="description">

                The &lt;code&gt;&amp;lt;project&amp;gt;&lt;/code&gt; element is the root of the descriptor.
                The following table lists all of the possible child elements.

            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="Suite">
        <xs:annotation>
            <xs:documentation source="version">1.0+</xs:documentation>
            <xs:documentation source="description">
                The &lt;code&gt;&amp;lt;project&amp;gt;&lt;/code&gt; element is the root of the descriptor.
                The following table lists all of the possible child elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" name="test" maxOccurs="unbounded" type="Test"/>
        </xs:sequence>
        <xs:attribute name="scheme" type="xs:string" default="http"/>
        <xs:attribute name="host" type="xs:string"/>
        <xs:attribute name="port" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="Test">
        <xs:annotation>
            <xs:documentation source="version">1.0+</xs:documentation>
            <xs:documentation source="description">
                The &lt;code&gt;&amp;lt;project&amp;gt;&lt;/code&gt; element is the root of the descriptor.
                The following table lists all of the possible child elements.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="path" type="xs:string"/>
            <xs:element name="method" type="xs:string" default="GET"/>
            <xs:element name="result" type="xs:string"/>
            <xs:element name="expect" type="xs:string"/>
        </xs:all>
        <xs:attribute name="name"/>
    </xs:complexType>
</xs:schema>